<footer>
    <div>
        <span><a rel="me" href="https://hachyderm.io/@lilt" target="_blank">mastodon</a></span>
        <span>|</span>
        <span><a href="https://github.com/drinklilt" target="_blank">github</a></span>
        <span>|</span>
        <span><a href="https://github.com/drinklilt/themorningstar.dev" target="_blank">source</a></span>
    </div>
    <br>
    <div>
        <a href="https://cyber.dabamos.de/88x31/" target="_blank"><img src="/img/88x31.gif" alt="88x31 badge"></a>
        <a href="https://fedoraproject.org/" target="_blank"><img src="/img/fedora.gif" alt="Powered by Fedora badge"></a>
        <a href="https://mozilla.org/firefox" target="_blank"><img src="/img/fftake.gif" alt="Firefox - Take back the web badge"></a>
        <a href="https://hachyderm.io/@lilt" target="_blank"><img src="/img/mastodon_gray.gif" alt="Follow me on mastodon button\"></a>
        <a href="https://github.com/drinklilt" target="_blank"><img src="/img/github-check.gif" alt=""></a>
        <img src="/img/tohell.gif" alt="Go Straight To Hell !!!">
        <img src="/img/nonbinary.gif" alt="Non-Binary pride badge">
        <img src="/img/internetprivacy.gif" alt="">
        <img src="/img/queerpride.gif" alt="Queer pride badge">
        <img src="/img/hail_satan.gif" alt="">
        <img src="/img/button-devils.gif" alt="Meow">
    </div>
</footer>