<footer>
    <div>
        <span><a rel="me" href="https://tech.lgbt/@lilt" >mastodon</a></span>
        <span>|</span>
        <span><a href="https://github.com/drinklilt" >github</a></span>
        <span>|</span>
        <span><a href="https://github.com/drinklilt/lilt.rocks" >source</a></span>
    </div>
    <br>
    <div>
        <a href="https://cyber.dabamos.de/88x31/"><img src="/img/88x31.gif" alt="88x31 badge"></a>
        <a href="https://archlinux.org/"><img src="/img/archlinux.gif" alt="Arch Linux badge (i use arch btw)"></a>
        <a href="https://mozilla.org/firefox"><img src="/img/fftake.gif" alt="Use Firefox"></a>
        <a href="https://hachyderm.io/@lilt"><img src="/img/mastodon_gray.gif" alt="Lilt's Mastodon"></a>
        <a href="https://github.com/drinklilt"><img src="/img/github-check.gif" alt="Lilt's GitHub"></a>
        <img src="/img/tohell.gif" alt="Go Straight To Hell !!!">
        <img src="/img/nonbinary.gif" alt="Non-binary pride badge">
        <img src="/img/internetprivacy.gif" alt="Internet Privacy Now badge">
        <img src="/img/queerpride.gif" alt="Queer Pride badge">
        <img src="/img/hail_satan.gif" alt="Hail Satan badge">
        <img src="/img/button-devils.gif" alt="Cat saying meow">
    </div>
</footer>
