<footer>
    <div>
        <span><a rel="me" href="https://hachyderm.io/@lilt" >mastodon</a></span>
        <span>|</span>
        <span><a href="https://github.com/drinklilt" >github</a></span>
        <span>|</span>
        <span><a href="https://github.com/drinklilt/themorningstar.dev" >source</a></span>
    </div>
    <br>
    <div>
        <a href="https://cyber.dabamos.de/88x31/"><img src="/img/88x31.gif" alt="88x31 badge"></a>
        <a href="https://fedoraproject.org/"><img src="/img/fedora.gif" alt="88x31 badge with the text: Powered by Fedora"></a>
        <a href="https://mozilla.org/firefox"><img src="/img/fftake.gif" alt="88x31 badge with the text: Firefox - Take back the web"></a>
        <a href="https://hachyderm.io/@lilt"><img src="/img/mastodon_gray.gif" alt="88x31 badge with the text: Follow me on mastodon"></a>
        <a href="https://github.com/drinklilt"><img src="/img/github-check.gif" alt="88x31 badge with the text: Check out my github"></a>
        <img src="/img/tohell.gif" alt="88x31 badge - Go Straight To Hell !!!">
        <img src="/img/nonbinary.gif" alt="88x31 badge for non-binary pride">
        <img src="/img/internetprivacy.gif" alt="88x31 badge with a spinning globe with the text: internet privacy now">
        <img src="/img/queerpride.gif" alt="88x31 badge for queer pride">
        <img src="/img/hail_satan.gif" alt="88x31 badge with a pink background with a black pentagram with text: Hail Satan">
        <img src="/img/button-devils.gif" alt="88x31 badge with a cat saying meow">
    </div>
</footer>