<header id="site-header">
    <a href="#content" class="skip">Skip to content</a>
    <h1>{{ site.title }}</h1>
    <nav>
        <span><a href="/">home</a></span>
        <span>|</span>
        <span><a href="/projects/">portfolio</a></span>
        <span>|</span>
        <span><a href="/contact/">contact</a></span>
    </nav>
</header>