---
title: contact lilith
layout: layouts/default.njk
---
<!--<img style="display: block; margin-left: auto;margin-right: auto;" src="/img/itsnotreadyyet.webp" alt="">-->
<p style="text-align: center;">send me an email: <a href="mailto:lilt@lilt.rocks">lilt@lilt.rocks</a></p>