---
permalink: "/index.html"
layout: "layouts/default.njk"
---
<p>
    Hi 👋, i'm {{site.author}}<sup>({{site.pronouns}})</sup>; welcome to my website!<br>
    I am a:
    <ul style="margin: revert-layer;">
        <li>Developer</li>
        <li>Musician</li>
        <li>Homelabber</li>
        <li>Tinkerer</li>
        <li>Maker</li>
    </ul>
    And general do<i>er</i> of things.<br><br>
    At the moment I'm playing around with car mechanics, metalworking, forging, fabrication & welding.
    <br>
    If you want to get in touch, check out the <a href="/contact/">contact</a> page.
</p>