---
permalink: "/index.html"
layout: "layouts/default.njk"
---
<p>
    Hey! I'm {{site.author}}<sup>({{site.pronouns}})</sup>; welcome to my website! I do many things, but here you'll find my blog, portfolio, and maybe some demos in the future. 
    By day, I'm a .NET software developer, and by night, I'm still a developer, but I use random technologies that I find interesting.
    Currently, I am learning functional programming with <a href="https://gleam.run/" target="_blank">gleam</a>, and I'm making this website with <a href="https://www.11ty.dev/" target="_blank">eleventy</a>.
    <br>
    If you want to get in touch, check out the <a href="/contact/">contact</a> page.
</p>